#show-state ul {
  list-style-type: none;
  border-width: 1px;
  border-color: #323232;
  border-style: solid;
  box-sizing: content-box;
}

#show-state ul li {
  float: left;
  padding: 10px;
  border-width: 0 1px 0 0;
  border-color: #323232;
  border-style: solid;
  box-sizing: border-box;
  display: block;
  width: 20%;
}
